<div class="container" id="homeContainer">
    <div class="row">
        <div class="col">
            {{!-- <img id="burgerPic" src="assets/img/burger.jpg"> --}}
        </div>
    </div>

    <form id="hello">
    <div class="row">
        <div class="col">
            <textarea style="text-align: center;" id="burgerNameInput" placeholder="Burger Name" rows="3" cols="40"></textarea>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <button id="submitBtn" type="submit" class="">Submit</button>
        </div>
    </div>
    </form>

</div>