<div class="container">
    <div class="row">
        <div class="col">
            <img id="burgerPic">
            <textarea id="burgerNameInput" placeholder="Burger Name"></textarea>
        </div>
    </div>
</div>