<div class="container" style="margin-top: 30px;">
<div class="jumbotron jumbotron-fluid" style="background-image: url(assets/img/burger4.svg); background-color:transparent; background-repeat:no-repeat;background-position:center">
  {{!-- <div class="container"> --}}
    {{!-- <h1 class="display-4">Fluid jumbotron</h1> --}}
    {{!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> --}}
  {{!-- </div> --}}
</div>
</div>