{{!-- {{>home}}

{{#if shitFace}}
    {{>selectedBurgers}}
{{/if}} --}}

{{>jumbotron}}

{{#if burgers}}
    {{#each burgers}}
        {{!-- {{#unless devoured}} --}}
            {{>selectedBurgers}}
        {{!-- {{/unless}} --}}
    {{/each}}
    {{else}}
        <h2 style="text-align: center;">NO BURGERS SAVED!</h2>
{{/if}}

{{>home}}



{{!-- {{#if selectedBurger}}
    {{>random}}
{{/if}} --}}

{{!-- {{#if home}}
    {{>home}}
{{/if}} --}}

